// _variables.scss
$primary-color: #5454d4;
$secondary-color: #ff7143;
$text-color: #696871;
$bg-color: #f8f9fb;
$font-family: "Poppins", sans-serif;

$spacing-sm: 1rem;
$spacing-md: 2rem;
$spacing-lg: 4rem;

$border-radius: 8px;
$transition: all 0.3s ease;

